Repository gjz010-Archive/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @simonmar, @osa1, @Phyx, @simonpj, @goldfire, @RyanGlScott, @AndreasK, @nomeata, @hvr

Bump version to 8.8
  configure.ac
  libraries/template-haskell/template-haskell.cabal
Owners: @bgamari, @goldfire

Fix checkStackChunk() call in Interepter.c, enable an assertion
  rts/Interpreter.c
  rts/sm/Sanity.c
Owners: @bgamari, @simonmar, @osa1, @Phyx

Cmm: Promote stack arguments to word size
  compiler/cmm/MkGraph.hs
Owners: @simonmar

testsuite: Add testcase for #16394
  testsuite/tests/typecheck/should_fail/T16394.hs
  testsuite/tests/typecheck/should_fail/T16394.stderr
  testsuite/tests/typecheck/should_fail/all.T
Owners: @bgamari

Try again
  .gitlab-ci.yml
  mk/config.mk.in
Owners: @bgamari

Hello
  .gitlab-ci.yml
  mk/config.mk.in
Owners: @bgamari

gitlab-ci: Explicitly set bindist tarball name
  .gitlab-ci.yml
  mk/config.mk.in
Owners: @bgamari

gitlab-ci: Generate source tarballs
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Generate documentation tarball
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Implement support for i386/Windows bindists
  .gitlab-ci.yml
  .gitlab/win32-init.sh
Owners: @bgamari

Make bkpcabal01 test compatible with new ordering requirements.
  testsuite/tests/backpack/cabal/bkpcabal01/Makefile
Owners: @bgamari

Bump version to 8.8
  configure.ac
  libraries/template-haskell/template-haskell.cabal
Owners: @bgamari, @goldfire

gitlab-ci: Do full `perf` build when building Windows releases
  .gitlab-ci.yml
Owners: @bgamari

Compute demand signatures assuming idArity
  compiler/basicTypes/Demand.hs
  compiler/basicTypes/Id.hs
  compiler/basicTypes/IdInfo.hs
  compiler/coreSyn/CoreArity.hs
  compiler/coreSyn/CoreLint.hs
  compiler/coreSyn/CoreOpt.hs
  compiler/coreSyn/CoreUnfold.hs
  compiler/stranal/DmdAnal.hs
  compiler/stranal/WorkWrap.hs
  compiler/stranal/WwLib.hs
  testsuite/tests/perf/compiler/WWRec.hs
  testsuite/tests/perf/compiler/all.T
  testsuite/tests/stranal/sigs/NewtypeArity.hs
  testsuite/tests/stranal/sigs/NewtypeArity.stderr
  testsuite/tests/stranal/sigs/all.T
Owners: @bgamari

testsuite: Mark heapprof001 as fragile on all platforms
  testsuite/tests/profiling/should_run/all.T
Owners: @bgamari

Hadrian: build (and retrieve) binary distributions in CI
  .gitlab-ci.yml
  hadrian/src/Builder.hs
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann

Fix #16411 by making dataConCannotMatch aware of (~~)
  compiler/basicTypes/DataCon.hs
  testsuite/tests/typecheck/should_compile/T16411.hs
  testsuite/tests/typecheck/should_compile/all.T
Owners: @bgamari

Add some tips to the Troubleshooting section of README
  hadrian/README.md
Owners: @snowleopard, @alp, @DavidEichmann

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian                         @snowleopard @alp @DavidEichmann

# RTS-like things
/rts                             @bgamari @simonmar @osa1 @Phyx
/includes                        @bgamari @simonmar @osa1

# The compiler
/compiler/typecheck              @simonpj @goldfire
/compiler/rename                 @simonpj @goldfire
/compiler/typecheck/TcDeriv*     @RyanGlScott
/compiler/cmm                    @simonmar
/compiler/codeGen                @simonmar
/compiler/nativeGen              @simonmar @bgamari @AndreasK
/compiler/simplCore/CallArity.hs @nomeata
/compiler/utils/UnVarGraph.hs    @nomeata
/compiler/simplCore/Exitify.hs   @nomeata
/compiler/simplStg/StgCse.hs     @nomeata
/compiler/cmm/CmmSwitch.hs       @nomeata
/compiler/ghci                   @simonmar

# Core libraries
/libraries/base                  @hvr
/libraries/ghci                  @simonmar
/libraries/template-haskell      @goldfire

# Tools
/utils/iserv                     @simonmar
